In [2]:
import pandas as pd
from sqlalchemy import create_engine
import os

In [3]:
from dotenv import load_dotenv

In [4]:
retail_df = pd.read_excel('Online Retail Data Set.xlsx')

In [5]:
retail_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [6]:
retail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [7]:
retail_df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

In [8]:
retail_df.shape

(541909, 8)

Convert the InvoiceDate column into a proper datetime format.

In [9]:
retail_df["InvoiceDate"] = pd.to_datetime(retail_df["InvoiceDate"])

Ensure all text fields (e.g., Country, Description) are correctly typed as string/object.

In [10]:
retail_df["Country"] = retail_df["Country"].astype("string")
retail_df["Description"] = retail_df["Description"].astype("string")

In [11]:
load_dotenv()
db_url=os.getenv("DATABASE_URL")

In [12]:
print(db_url)

postgresql+psycopg2://postgres:12345@localhost:5432/Retail

In [13]:
db_url = os.getenv("DATABASE_URL")
print(db_url)

postgresql+psycopg2://postgres:12345@localhost:5432/Retail

In [16]:
engine = create_engine(db_url)

In [17]:
retail_df.to_sql("online_retail_clean",con=engine,if_exists="replace",index=False)

909